{
    "blueprint" : "amb2.1_hdp2.2.8",
    "default_password" : "<DEFAULT_ENV_PASSWORD>",
    "host_groups" :[
    {
        "name" : "host_group_1",
        "hosts" : [
        {
            "fqdn" : "<AMB_SERVER_HOSTNAME>"
        }
        ]
    }
    ]
}